@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/admins")
}

<div class="col-sm-12" ng-controller="listController" ng-init="Init()">
    <h1>Ici la liste des joueurs</h1>

    <hr />

    <table>
        <tr>
            <th>Nom {{34 + 44}}</th>
            <th>Numéro</th>
            <th>Classement</th>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>




