
@section Scripts {
    @Scripts.Render("~/bundles/admins")
}

<div class="col-sm-12" ng-controller="listController" ng-init="Init()">
    <h1>Ici la liste des joueurs</h1>
    @Html.ActionLink("Ajouter un joueur", "Edit", "ManagePlayer", new { area = "Admins" }, new { @class = "btn btn-default"})
    <hr />

    <table>
        <tr>
            <th>Nom</th>
            <th>Numéro</th>
            <th>Classement</th>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>




